/* src/App.css */

.consulta-button {
    margin-bottom: 10px;
  }

  .form-control {
    background-color: blanchedalmond;
  }

  .custom-filter-dropdown {
    max-height: 38px;
    overflow: hidden;
  }