/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Cambiar el fondo de la web a un gris claro */
}

.card-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.navy-card {
  background-color: #001f3f; /* Azul marino */
  color: #ffffff; /* Texto blanco */
  display: flex;
}

.navy-card-group {
  background-color: #001f3f; /* Azul marino */
  color: #ffffff; /* Texto blanco */
}

/* Estilos para la card navy-card-group-inner */
.navy-card-group-inner {
  width: 100%;
}

.medium-ocean-card {
  background-color: #002a55; /* Azul intermedio */
  color: #ffffff; /* Texto blanco */
}

.dark-blue-card {
  background-color: #004080; /* Azul oscuro */
  color: #ffffff; /* Texto blanco */
}

.light-blue-card {
  background-color: #0074cc; /* Azul claro */
  color: #ffffff; /* Texto blanco */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Sección de InputFields, ButtonGroup, CtaCteSection, FilterSection */
.input-fields,
.button-group,
.ctacte-section,
.filter-section,
.filter-group {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button-group button {
  margin-top: 10px;
  display: block;
}

.container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-check {
  margin-bottom: 20px;
}

/* Nuevos estilos para centrado y espacio en la sección de filtros */
.row.justify-content-center {
  text-align: center;
}

/* Añadir márgenes a los Dropdowns */
.form-group {
  margin-bottom: 20px;
}

/* Añadir espacio entre los checkbox y los dropdowns */
.form-check {
  margin-top: 10px;
}


/* En tu archivo App.css o donde tengas tus estilos */
.input-fields {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna (uno sobre otro) */
}

/* Agregar espacio entre elementos dentro de InputFields */
.input-fields label,
.input-fields input {
  margin-bottom: 10px; /* Puedes ajustar el valor según tus preferencias */
}

/* ..criterios de filtración ... */

.criterios-container {
  padding-bottom: 0px; /* Ajusta el valor según sea necesario */
}

.light-blue-card {
  background-color: #0074cc; /* Azul claro */
  color: #ffffff; /* Texto blanco */
  padding: 0px; /* Agrega espacio interno para dar margen a los lados */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ...criterios de filtración ... */

.grid-template-columns-lg-7 {
  grid-template-columns: repeat(12, 1fr); /* Crear una cuadrícula de 12 columnas */
  gap: 1rem; /* Espacio entre las columnas */
}